body{
    background-color: whitesmoke;
    color: black;
    
    

}
.name{
    background-color: whitesmoke;
    color: black;
    border-color: silver;
    border-width: 5px;
    border-style: solid;



}
.about{
    background-color: whitesmoke;
    color: black;
    border: 5px solid silver; 
    

}
.c-sharp-game{
    background-color: whitesmoke;
    color: black;
    border: 5px solid  indigo;
    margin: 10px;
    text-align: center;

}
.homework{
    background-color: whitesmoke;
    color: black;
    border: 5px solid  indigo; 
    margin: 10px;
    text-align: center;
}
.thumbnail{
    height: 200px;
    text-align: left;
}