
body{
    background-image: url("../pictures/pink-and-purple-pattern-1517773944XUB.jpg");
    height: 100%;
}

.intro{
    background-color: whitesmoke;
    color: black;
    border: 5px solid indigo;
    padding: 1em; 
    border-radius: 8px;
    margin-bottom: 1em;
}

.card{
    background-color: indigo;
    text-align: center;
    padding: .5em;
    border-radius: 8px;
}

.list{
    list-style:none;
}

.navbar{
    margin-bottom: 1em;
}

.navbar-brand{
    font-size: 34px;
    font-weight: 600;
}